beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
distlib==0.3.6
filelock==3.9.0
gunicorn==21.2.0
idna==3.4
inflection==0.5.1
numpy==1.24.2
packaging==23.1
pipenv==2023.2.4
platformdirs==3.0.0
psycopg2==2.9.6
pypi-install==0.0.5
request2==0.2
requests==2.28.2
soupsieve==2.4
urllib3==1.26.14
virtualenv==20.19.0
virtualenv-clone==0.5.7
